

  <div id="layoutSidenav">
    <div id="layoutSidenav_content">
      <router-outlet></router-outlet>
    </div>
    <app-toolbar></app-toolbar>


  </div>

  <div class="container">
    <main class="todo">
      <div class="prin">
        <h1>Perfil</h1>
        <h2 class="lead">¡Esta es la información de tu perfil darinka2000!</h2>
      </div>

      <div class="inf">
        <div class="prin">
          <i class="imagenPrin"><img src="../../../assets/usuario.png" width="150px" height = "150px" alt="#" /></i>

        </div>

        <div>

          <form>
            <div class="formT">
              <div class="fil">
                <label for="firstName" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="lastName" placeholder="Darinka" disabled>

              </div>

              <div class="fil">
                <label for="lastName" class="form-label">Apellido</label>
                <input type="text" class="form-control" id="lastName" placeholder="Townsend" disabled>

              </div>

              <div class="fil">
                <label for="username" class="form-label">Usuario</label>
                <input type="text" class="form-control" id="username" placeholder="darinka2000" disabled>


              </div>

              <div class="fil">
                <label for="email" class="form-label">Correo  </label>
                <input type="email" class="form-control" placeholder="darinka.townsend@gmail.com" id="email" disabled>

              </div>

              <div class="fil">
                <label for="email" class="form-label">Contraseña</label>
                <input type="email" class="form-control" placeholder="*********" id="email" disabled>

              </div>

            </div>
            <hr class="my-4">
          </form>



        </div>
      </div>

      <button type="button" class="btn  btn-outline-secondary" routerLink='/client/inscri-form'>Cambiar contraseña</button>
    </main>


  </div>





