<div id="layoutSidenav">
  <div id="layoutSidenav_content">
    <router-outlet></router-outlet>
  </div>
  <app-toolbar></app-toolbar>


</div>

<h2>Hoteles registrados</h2>



<div >
  <div id="tablaT" >
      <table id="reporte">
          <thead id="cabecera">
              <tr>
                <th>#</th>
                <th>Hotel</th>
                <th>Lugar</th>
                <th>Creado</th>
                <th>Actualizado</th>
              </tr>
          </thead>

          <tbody id="ordenes_tablas">

          </tbody>
      </table>

  </div>
</div>



